body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(185, 3, 3);
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse {
    background-color: rgb(142, 1, 1);
    border-color: rgb(185, 3, 3);
    color: white;
}

.jumbotron {
    background-color: rgb(142, 1, 1);
    margin-top: 10px;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a,
a {
    color: white;
}

a:hover {
    color:#ccc;
}

.navbar-brand { text-transform: uppercase;
    font-size: 32px;
}



.categories {
    text-align: center;
}

.categories .category {
    display: inline-block;
}

.category img {
    height: 150px;
}
.category .title {
    font-weight: bold;
    font-size: 20px;
}


input[type=text].input-validation-error,
select.input-validation-error
 {
    background: pink;
}

textarea {
    max-width: 100%;
}