@using System
@model IEnumerable<mvc_forms_starter.core.Models.Category>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>SDD Conf: Building rich input forms in ASP.NET MVC</h2>
    <p class="lead">
    A sample from SDD Conf 2014 by <a href="https://twitter.com/mkennedy" target="_blank">@@mkennedy</a>
    <p />
</div>

<div class="row">
		
    <div class="categories">
        @foreach (var c in Model)
        {
            <div class="category">
                <a href="/categories/show/@c.Id">
					<img src="@c.ImageUrl" alt="" />
					<div class="title">@c.Name</div>
                </a>
            </div>
        }
    </div>

</div>