@{
    ViewBag.Title = "THE BOOK STORE - Home";
}

<div class="jumbotron">
    <h2>SDD Conf: Building rich input forms in ASP.NET MVC</h2>
    <p class="lead">
    A sample from SDD Conf 2014 by <a href="https://twitter.com/mkennedy" target="_blank">@@mkennedy</a>
    <p />
</div>

<div class="row">
    <div>
        
        TODO: Add html for categories.

    </div>
</div>