@{
    ViewBag.Title = "About";
}

@section scripts
{
	<script>
		$(document).ready(function () {
			alert("hi, I love jquery!");
		});
	</script>
}



<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<ul>
	<li class="contact-item"></li>
	<li class="contact-item"></li>
	<li class="contact-item"></li>
	<li class="contact-item"></li>
	<li class="contact-item"></li>
</ul>

